{{- with resources.Get "js/starry.js" }}
<script src="{{ .RelPermalink }}"></script>
{{- end }}
{{- with resources.Get "js/main.js" }}
<script src="{{ .RelPermalink }}"></script>
{{- end }}
<script>
    window.Starry.prototype.varConfiguration = {
        varProgressEnable: {{ .Site.Params.starry.varProgressEnable }},
        varStarCount: {{ .Site.Params.starry.varStarCount }},
        varStarryEnable: {{ .Site.Params.starry.varStarryEnable }},
        varToolExpanded: {{ .Site.Params.starry.varToolExpanded }}
    };
</script>

