{{ $js := slice "js/starry.js" "js/main.js" }}

{{ $resources := slice }}
{{- range $js }}
{{ $r := resources.Get . }}
{{ $resources = $resources | append $r }}
{{- end }}

{{ $bundle := $resources | resources.Concat "js/main.js" | resources.Minify }}

<script src="{{ $bundle.RelPermalink }}"></script>

<script>
    const ct = window.Starry.prototype.varConfiguration;
    ct.varProgressEnable = {{ .Site.Params.starry.varProgressEnable }};
    ct.varStarCount = {{ .Site.Params.starry.varStarCount }};
    ct.varStarryEnable = {{ .Site.Params.starry.varStarryEnable }};
    ct.varToolExpanded = {{ .Site.Params.starry.varToolExpanded }};
    ct.varSiteBegin = {{ .Site.Params.starry.varSiteBegin }};
    ct.varStatsServiceEnable = {{ .Site.Params.starry.varStatsServiceEnable }};
    ct.varStatsServiceUrl = {{ .Site.Params.starry.varStatsServiceUrl }};
    ct.varSearchIndex = "{{ "index.json" | relURL }}";
</script>

