{{- with resources.Get "js/starry.js" }}
<script src="{{ .RelPermalink }}"></script>
{{- end }}
{{- with resources.Get "js/main.js" }}
<script src="{{ .RelPermalink }}"></script>
{{- end }}
<script>
    const ct = window.Starry.prototype.varConfiguration;
    ct.varProgressEnable = {{ .Site.Params.starry.varProgressEnable }};
    ct.varStarCount = {{ .Site.Params.starry.varStarCount }};
    ct.varStarryEnable = {{ .Site.Params.starry.varStarryEnable }};
    ct.varToolExpanded = {{ .Site.Params.starry.varToolExpanded }};
    ct.varSiteBegin = {{ .Site.Params.starry.varSiteBegin }};
    ct.varStatsServiceEnable = {{ .Site.Params.starry.varStatsServiceEnable }};
    ct.varStatsServiceUrl = {{ .Site.Params.starry.varStatsServiceUrl }};
</script>

