<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
{{ partial "particles.html" . }}
<header>
    {{ partial "header.html" . }}
</header>
<h1>这是{{ .Type }}页</h1>
<main>
    {{ block "main" . }}{{ end }}
</main>
<footer>
    {{ partial "footer.html" . }}
</footer>

{{- with resources.Get "js/module/jquery-1.12.4.js" }}
{{- $minifiedJS := . | resources.Minify }}
<!--{{- $minifiedJS := . | resources.Minify }}-->
<script src="{{ $minifiedJS.RelPermalink | relURL }}"></script>
{{- end }}

{{- with resources.Get "js/module/viewer-1.11.0.js" }}
{{- $minifiedJS := . | resources.Minify }}
<script src="{{ $minifiedJS.RelPermalink | relURL }}"></script>
{{- end }}

{{- with resources.Get "js/module/jquery=viewer-1.0.1.min.js" }}
{{- $minifiedJS := . }}
<script src="{{ $minifiedJS.RelPermalink | relURL }}"></script>
{{- end }}

<!--静态引入，不受baseUrl影响-->
<!--{{ $staticLayerJs := "/js/layer/layer.js" | relURL }}-->
<!--<script src="{{ $staticLayerJs }}"></script>-->
{{- with resources.Get "/js/layer/layer.js" }}
{{- $minifiedJS := . | resources.Minify }}
<script src="{{ $minifiedJS.RelPermalink | relURL }}"></script>
{{- end }}

{{- with resources.Get "js/check-ua.js" }}
{{- $minifiedJS := . | resources.Minify }}
<script src="{{ $minifiedJS.RelPermalink | relURL }}"></script>
{{- end }}
{{ partialCached "head/js.html" . }}
</body>
</html>
