{{ define "main" }}
  {{ .Content }}
  {{ $paginator := .Paginate (where site.RegularPages "Type" "post") }}
  {{ range $paginator.Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ if eq .Params.state "top" }}[置顶] {{ end }}{{ if eq .Params.state "draft" }}[未完成] {{ end }}{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}

  <div class="pagination">
    {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}" class="prev"><</a>
    {{ end }}
    {{ range $paginator.Pagers }}
      {{ if eq . $paginator }}
        <span class="current">{{ .PageNumber }}</span>
      {{ else }}
        <a href="{{ .URL }}">{{ .PageNumber }}</a>
      {{ end }}
    {{ end }}
    {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}" class="next">></a>
    {{ end }}
  </div>
{{ end }}
