.main-container {
  .pagination {
    margin: $header-height / 2 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: $default-font-size-4;

    a {
      padding: 0.5rem 1rem;
      font-weight: normal;
      text-decoration: none;
      color: var(--color-text);
      background-color: var(--color-bg);
      border: $default-border-size solid var(--color-border);
      border-radius: $default-border-radius;
      box-shadow: 0 0.125rem 0.625rem var(--color-shadow);

      &.current {
        font-weight: bold;
        background-color: var(--color-btn-bg);
      }
    }


  }

  .posts {
    a, a:hover {
      color: var(--color-text);
      border-bottom-color: var(--color-border);
    }

    .post {
      margin: $header-height / 2 auto;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: var(--color-bg);
      border: $default-border-size solid var(--color-border);
      border-radius: $default-border-radius;
      box-shadow: 0 0.125rem 0.625rem var(--color-shadow);
      @include hover-lift;

      .post-title {
        font-size: $default-font-size-0;
        font-weight: bold;
        padding-bottom: 0.5rem;
        @include hover-lift;
      }

      .post-date {
        font-size: $default-font-size-2;
      }

      .post-tags, .post-categories {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .tag {
          @include hover-lift;
          padding: 4px 12px;
          font-size: $default-font-size-2;

          border: 0.0625rem solid var(--color-border);
          border-radius: $default-border-radius;
          background-color: var(--color-btn-bg);
        }
      }

      .post-categories {
        a, a:hover {
          color: var(--color-primary-hover);
        }

        .tag {
          background-color: var(--color-table-header-bg);
        }
      }

      .post-summary {
        display: flex;
        flex-direction: column;
        gap: $default-post-gap;
        line-height: $default-line-height;

        ul, ol {
          padding-left: 2rem;
        }

        ul {
          list-style: disc;
        }

        ol {
          list-style: decimal;
        }
      }

    }


  }
}

@media (max-width: $breakpoint-mobile) {
  .main-container .posts .post {
    margin: 1rem auto;
  }

  .main-container .pagination {
    margin: 1rem auto;
  }
}
