@import "config/var-css";
@import "config/var-css-code-light";
@import "config/var-css-code-dark";
@import "config/var-scss";
@import "config/reset";

@import "partials/scroll";
@import "partials/starry";
@import "partials/progress";
@import "partials/sidebar";
@import "partials/header";

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}