/* 清除浮动 */
.clearFix::after {
  content: "";
  display: table;
  clear: both;
}

/* h1 到 h6 的字体大小与颜色 */
@for $i from 1 through 6 {
  h#{$i} {
    color: var(--color-heading-#{$i});
    font-size: #{2 - ($i - 1) * 0.2}rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // 将padding与margin也计算进width/height里面
  -webkit-tap-highlight-color: transparent; // 关闭移动端的默认点击高亮
  transition: background-color $default-transition-time ease, color $default-transition-time ease, border-color $default-transition-time ease;
}

svg {
  transition: none;
}

html, body {
  /*[HTML文本界面英文无法自动换行的解决办法_周小航.的博客-CSDN博客_html文本不自动换行](https://blog.csdn.net/weixin_64103049/article/details/127960824)*/
  word-break: break-all;
}

html {
  overflow-y: scroll; // 控制滚动条始终展示
}

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  background-color: var(--color-bg);
  color: var(--color-text);
}

p {
  line-height: $default-line-height;
}

ul, ol {
  list-style: none;
}


/* 设置鼠标选中文本时的颜色 */
::selection {
  background-color: var(--color-primary-hover);
}


a {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: $default-border-size solid transparent;
  transition: color $default-transition-time, border-color $default-transition-time;
}

a:hover {
  color: var(--color-primary-hover);
  border-bottom-color: var(--color-primary-hover);
}

code {
  overflow-x: auto;
}

table {
  width: 100%;
  border: $default-border-size solid var(--color-table-border);
  overflow-x: auto; // 控制水平溢出
  border-collapse: collapse; // 相邻单元格的边框合并为一条边框
  empty-cells: show; // 空单元格也显示边框
}

th {
  background-color: var(--color-table-header-bg);
  border: $default-border-size solid var(--color-table-border);
}

td {
  border: $default-border-size solid var(--color-table-border);
}