:root {
  --default-font-size-0: 1.5rem;
  --default-font-size-1: 0.875rem;
  --default-font-size-2: 0.75rem;
  --default-font-size-3: 0.625rem;
  --default-font-size-4: 0.5rem;
  --font-size-h1: 2rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.6rem;
  --font-size-h4: 1.4rem;
  --font-size-h5: 1.2rem;
  --font-size-h6: 1rem;
}

@media (max-width: $breakpoint-mobile) {
  :root {
    --default-font-size-0: 1rem;
    --default-font-size-1: 1rem;
    --default-font-size-2: 1rem;
    --default-font-size-3: 1rem;
    --default-font-size-4: 1rem;
    --font-size-h1: 1rem;
    --font-size-h2: 1rem;
    --font-size-h3: 1rem;
    --font-size-h4: 1rem;
    --font-size-h5: 1rem;
    --font-size-h6: 1rem;
  }
}

/* 清除浮动 */
.clearFix::after {
  content: "";
  display: table;
  clear: both;
}

/* h1 到 h6 的字体大小与颜色 */
@for $i from 1 through 6 {
  h#{$i} {
    color: var(--color-heading-#{$i});
    font-size: var(--font-size-h#{$i});
    scroll-margin-top: 1rem + $header-height; // 解决锚点跳转被顶部挡住问题
  }
}

* {
  color: var(--color-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box; // 将padding与margin也计算进width/height里面
  -webkit-tap-highlight-color: transparent; // 关闭移动端的默认点击高亮
  transition: background-color $default-transition-time ease, color $default-transition-time ease, border-color $default-transition-time ease;
}

svg {
  transition: none;
}

html, body {
  /*[HTML文本界面英文无法自动换行的解决办法_周小航.的博客-CSDN博客_html文本不自动换行](https://blog.csdn.net/weixin_64103049/article/details/127960824)*/
  //word-break: break-all;
  word-break: break-word;
}

html {
  overflow-y: scroll; // 控制滚动条始终展示
  font-family: $default-font-family;
  font-size: $default-font-size;
}

body {
  background-color: var(--color-bg);

}

p {
  line-height: $default-line-height;
}

ul, ol {
  list-style: none;
}


/* 设置鼠标选中文本时的颜色 */
::selection {
  background-color: var(--color-primary-hover);
}


a {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: $default-border-size solid transparent;
}

a:hover {
  color: var(--color-primary-hover);
  border-bottom-color: var(--color-primary-hover);
}

code {
  overflow-x: auto;
}

table {
  width: 100%;
  border: $default-border-size solid var(--color-table-border);
  overflow-x: auto; // 控制水平溢出
  border-collapse: collapse; // 相邻单元格的边框合并为一条边框
  empty-cells: show; // 空单元格也显示边框
}

th {
  background-color: var(--color-table-header-bg);
  border: $default-border-size solid var(--color-table-border);
}

td {
  border: $default-border-size solid var(--color-table-border);
}


// 解决 mathjax 块级公式撑破父级容器问题
mjx-container {
  overflow: auto;
}