/* 用于存储编译时变量 */

/* 滚动条变量 */
$scrollbar-size: 12px;
$scrollbar-border-radius: 6px;
$scrollbar-thumb-border: 2px;
$scrollbar-transition-duration: 0.3s;
$scrollbar-pre-height: 8px;
$scrollbar-pre-thumb-border: 1px;