/* 用于存储编译时变量 */


$breakpoint-mobile: 75rem;

/* 除 viewer 之外的 zIndex，都在此处控制 */
$z-index-starry: -1;
$z-index-sidebar-tools: 9995;
$z-index-progress-container: 9999;
$z-index-header: 9996;
$z-index-interaction: 9997;
$z-index-interaction-close: 9998;

$header-height: 3.75rem;

$default-font-family: "Microsoft YaHei UI", sans-serif;
$default-note-font-family: Georgia, "Palatino Linotype", Palatino, "Times New Roman", Times, serif, Verdana, "Trebuchet MS", Arial, sans-serif;
$default-code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace, san-serif;
$default-font-size: 16px;
$default-post-gap: 0.75rem;
$default-line-height: 1.6; // 实际行高=$default-font-size * $default-line-height
$default-border-size: 0.0625rem;
$default-border-radius: 0.3125rem;
$default-transition-time: 0.3s;
$default-shimmer-time: 2s;
$default-section-min: 18.75rem;
$default-taxonomy-min: 11.875rem;

/* 滚动条变量 */
$scrollbar-size: 0.5rem;
$scrollbar-border-radius: 0.375rem;
$scrollbar-thumb-border: 0.125rem;
$scrollbar-transition-duration: 0.3s;
$scrollbar-pre-height: 0.5rem;
$scrollbar-pre-thumb-border: 0.0625rem;

/* 进度条 */
$progress-container-height: 0.1875rem;
$progress-bar-shadow-size: 0.625rem;


@mixin hover-lift {
  transition: transform $default-transition-time ease;
  &:hover {
    transform: translateY(-0.1875rem);
  }
}

