<div class="article-title">{{ .Title }}</div>
<div class="article-meta">
    <div class="article-dates">
        {{ $createDateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $createDateHuman := .Date | time.Format "2006-01-02 15:04:05" }}
        {{ $filePath := .File.Path }}
        {{ $stat := os.Stat $filePath }}
        {{ $updateDateMachine := $stat.ModTime | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $updateDateHuman := $stat.ModTime | time.Format "2006-01-02 15:04:05"  }}
        <time class="article-date-item" datetime="{{ $createDateMachine }}">{{ i18n "article.createdTime" }} {{ $createDateHuman }}</time>
        <time class="article-date-item" datetime="{{ $updateDateMachine }}">{{ i18n "article.updatedTime" }} {{ $updateDateHuman }}</time>
    </div>
    <div class="article-tags">{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}</div>

</div>
<div class="article-note">{{ i18n "article.note" }}</div>
<div class="article-divider"></div>
<div class="article-content">{{ .Content }}</div>
<div class="article-divider"></div>
<div class="article-nav">
    {{ with .NextInSection }}
    <div class="item" onclick="this.querySelector('a').click()">
        <div class="item-key">{{ i18n "article.prevPost" }}</div>
        <a class="item-value" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{ end }}

    {{ with .PrevInSection }}
    <div class="item" onclick="this.querySelector('a').click()">
        <div class="item-key">{{ i18n "article.nextPost" }}</div>
        <a class="item-value" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{ end }}
</div>
<div class="article-btn">
    <button class="btn">{{ i18n "article.reward" }}</button>
    <button class="btn">{{ i18n "article.share" }}</button>
</div>
{{- if and .Site.Params.Starry.varGitalkEnable .Params.comments }}
<div id="article-gitalk"></div>
{{- with resources.Get "css/gitalk-theme.scss" | css.Sass | resources.Minify }}
<link rel="stylesheet" href="{{ .RelPermalink }}">
{{- end }}
<script src="{{ "js/gitalk.min.js" | relURL }}" ></script>
<script >
    const gitalk = new Gitalk({
        clientID: {{ .Site.Params.Starry.VarGitalk.clientId }},
        clientSecret: {{ .Site.Params.Starry.VarGitalk.clientSecret }},
        accessToken: {{ .Site.Params.Starry.VarGitalk.accessToken }},
        repo: {{ .Site.Params.Starry.VarGitalk.repo }},
        owner: {{ .Site.Params.Starry.VarGitalk.owner }},
        admin: {{ .Site.Params.Starry.VarGitalk.admin  }},
        id: "Demo"
    });
    gitalk.render("article-gitalk");
</script>
{{- end }}

