<h1>{{ .Title }}</h1>
{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format "2006-01-02 15:04:05" }}
<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
{{ .Content }}
<hr class="content-end">
<div class="article-nav">
    {{ with .NextInSection }}
    <div class="item" onclick="this.querySelector('a').click()">
        <div class="item-key">上一篇</div>
        <a class="item-value" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{ end }}

    {{ with .PrevInSection }}
    <div class="item" onclick="this.querySelector('a').click()">
        <div class="item-key">下一篇</div>
        <a class="item-value" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{ end }}
</div>
<div class="article-btn">
    <button class="btn">打赏作者</button>
    <button class="btn">分享链接</button>
</div>
{{- if and .Site.Params.Starry.varGitalkEnable .Params.comments }}
<div id="article-gitalk"></div>
{{- with resources.Get "css/gitalk-theme.scss" | css.Sass | resources.Minify }}
<link rel="stylesheet" href="{{ .RelPermalink }}">
{{- end }}
<script src="{{ "js/gitalk.min.js" | relURL }}" ></script>
<script >
    const gitalk = new Gitalk({
        clientID: {{ .Site.Params.Starry.VarGitalk.clientId }},
        clientSecret: {{ .Site.Params.Starry.VarGitalk.clientSecret }},
        accessToken: {{ .Site.Params.Starry.VarGitalk.accessToken }},
        repo: {{ .Site.Params.Starry.VarGitalk.repo }},
        owner: {{ .Site.Params.Starry.VarGitalk.owner }},
        admin: {{ .Site.Params.Starry.VarGitalk.admin  }},
        id: "Demo"
    });
    gitalk.render("article-gitalk");
</script>
{{- end }}

