<h1>{{ .Title }}</h1>
{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format "2006-01-02 15:04:05" }}
<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
{{ .Content }}
<div class="article-nav">
    {{ with .NextInSection }}
    <div class="item">
        <div class="item-key">上一篇</div>
        <a class="item-value" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{ end }}

    {{ with .PrevInSection }}
    <div class="item">
        <div class="item-key">下一篇</div>
        <a class="item-value" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{ end }}
</div>
<div class="article-btn">
    <button class="btn">打赏</button>
    <button class="btn">分享</button>
</div>
{{- if and .Site.Params.Starry.varGitalkEnable .Params.comments }}
<div id="starry-gitalk"></div>
<link rel="stylesheet" href="{{ "css/gitalk.min.css" | relURL }}">
<script src="{{ "js/gitalk.min.js" | relURL }}" ></script>
<script >
    const gitalk = new Gitalk({
        clientID: "e46f6dec7c07145c652c",
        clientSecret: "d1a0b627f9b76d21bd3080d1777d0aa0ad55dd83",
        accessToken: "6a2f4d91a1f188a2089e70c2a7b63628f3e9e664",
        repo: "gitalk",
        owner: "gitalk",
        admin: ["booxood", "mamboer"],
        id: "Demo",
        distractionFreeMode: false,
        pagerDirection: "first",
    });
    gitalk.render("starry-gitalk");
</script>
{{- end }}

