<div class="interaction">
    <div class="toast toast-success" id="shareBtnToastSuccess">
        <span>{{ i18n "interaction.share.success" }}</span>
    </div>
    <div class="toast toast-error" id="shareBtnToastError">
        <span>{{ i18n "interaction.share.error" }}</span>
    </div>
    <div class="toast toast-success" id="codeCopyToastSuccess">
        <span>{{ i18n "interaction.codeCopy.success" }}</span>
    </div>
    <div class="toast toast-success" id="codeCopyToastError">
        <span>{{ i18n "interaction.codeCopy.error" }}</span>
    </div>
    <div class="modal-overlay" id="rewardBtnModal">
        <button class="modal-close">×</button>
        <div class="modal-content">
            <div class="modal-title">{{ i18n "interaction.reward.title" }}</div>
            <div class="model-subtitle">{{ i18n "interaction.reward.subtitle" }}</div>
            <img src="{{ "reward.jpg" | relURL }}" class="qrcode">
            <div class="modal-note">{{ i18n "interaction.reward.note" }}</div>
        </div>
    </div>
    <div class="modal-overlay" id="searchBtnModal">
        <button class="modal-close">×</button>
        <div class="search-content">
            <div class="search-header">
                <input class="search-input" id="searchInput" placeholder="输入关键词搜索..." autocomplete="off"/>
            </div>
            <div class="search-result">
                <div class="state-loading" id="stateLoading">正在构建索引库...</div>
                <div class="state-idle search-active" id="stateIdle">请输入关键字开始搜索</div>
                <div class="state-empty" id="stateEmpty">暂无结果</div>
                <div class="state-searching" id="stateSearching">正在搜索中...</div>
                <div class="result-inner" id="result"></div>
            </div>
        </div>
    </div>
</div>