<div class="section-nav">
    <div class="section-total">{{ .Title }} - 总数 {{ .Pages.Len }}</div>
    <select class="section-sort" id="sectionSort">
        <option value="timeDesc">时间倒序</option>
        <option value="timeAsc">时间升序</option>
    </select>
</div>
<div class="section-term">
    {{ range (.Pages.ByDate.Reverse) }}
    <div class="section-card">
        <a class="section-title" href="{{ .RelPermalink }}">{{ if eq .Params.state "top" }}[{{ i18n "post_state_top" }}] {{ end }}{{ if eq .Params.state "draft" }}[{{ i18n "post_state_draft" }}] {{ end }}{{ .LinkTitle }}</a>
        <span class="section-time">{{ .Date.Format "2006-01-02 15:04:05" }}</span>
    </div>
    {{ end }}
</div>