{{ $ctx := . }}
{{ with .Params.categories }}
<div class="single-categories">{{ partial "tag-terms.html" (dict "taxonomy" "categories" "page" $ctx) }}</div>
{{ end }}
<div class="single-title">{{ .Title }}</div>
<div class="single-meta">
    <div class="single-dates">
        {{ $createDateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $createDateHuman := .Date | time.Format "2006-01-02 15:04:05" }}
        {{ $filePath := .File.Path }}
        {{ $stat := os.Stat $filePath }}
        {{ $updateDateMachine := $stat.ModTime | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $updateDateHuman := $stat.ModTime | time.Format "2006-01-02 15:04:05"  }}
        <time class="single-date-item" datetime="{{ $createDateMachine }}">{{ i18n "single.createdTime" }} {{ $createDateHuman }}</time>
        <time class="single-date-item" datetime="{{ $updateDateMachine }}">{{ i18n "single.updatedTime" }} {{ $updateDateHuman }}</time>
    </div>
    <div class="single-tags">{{ partial "tag-terms.html" (dict "taxonomy" "tags" "page" .) }}</div>

</div>
<div class="single-note">{{ i18n "single.note" }}</div>
<div class="single-divider"></div>
<div class="single-post">
    {{ if .Truncated }}
    {{ $summaryLen := .Summary | len }}
    <span class="post-bookmark">{{ i18n "single.summary" }}</span>
    {{ .Summary }}
    <span class="post-bookmark">{{ i18n "single.content" }}</span>
    {{ .Content | after $summaryLen | safeHTML }}
    {{ else }}
    <span class="post-bookmark">{{ i18n "single.content" }}</span>
    {{ .Content }}
    {{ end }}
</div>
<div class="single-divider"></div>
{{ if or .NextInSection .PrevInSection }}
<div class="single-nav">
    {{ with .NextInSection }}
    <div class="item" onclick="this.querySelector('a').click()">
        <div class="item-key">{{ i18n "single.prevPost" }}</div>
        <a class="item-value" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{ end }}

    {{ with .PrevInSection }}
    <div class="item" onclick="this.querySelector('a').click()">
        <div class="item-key">{{ i18n "single.nextPost" }}</div>
        <a class="item-value" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{ end }}
</div>
{{ end }}

<div class="single-btn">
    <button class="btn" id="rewardBtn">{{ i18n "single.reward" }}</button>
    <button class="btn" id="shareBtn">{{ i18n "single.share" }}</button>
</div>
{{- if and .Site.Params.Starry.varGitalkEnable .Params.comments }}
<div id="single-gitalk"></div>
{{- with resources.Get "css/gitalk-theme.scss" | css.Sass | resources.Minify }}
<link rel="stylesheet" href="{{ .RelPermalink }}">
{{- end }}
<script src="{{ "js/gitalk.min.js" | relURL }}" ></script>
<script >
    const gitalk = new Gitalk({
        clientID: {{ .Site.Params.Starry.VarGitalk.clientId }},
        clientSecret: {{ .Site.Params.Starry.VarGitalk.clientSecret }},
        accessToken: {{ .Site.Params.Starry.VarGitalk.accessToken }},
        repo: {{ .Site.Params.Starry.VarGitalk.repo }},
        owner: {{ .Site.Params.Starry.VarGitalk.owner }},
        admin: {{ .Site.Params.Starry.VarGitalk.admin  }},
        id: "Demo"
    });
    gitalk.render("single-gitalk");
</script>
{{- end }}

