<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
    {{ partial "head/head.html" . }}
</head>
<body>
{{ partial "header.html" . }}
<main>
    <div class="main-container">{{ block "main" . }}{{ end }}</div>
</main>
{{ partial "footer.html" . }}
<div>
    {{ partial "starry.html" . }}
    {{ partial "progress.html" . }}
    {{ partial "sidebar.html" . }}
    {{ partial "interaction.html" . }}
</div>
{{ partialCached "head/js.html" . }}
</body>
</html>
