{{ define "main" }}
  {{ $paginator := .Paginate (where site.RegularPages "Type" "post") }}
    {{ range $paginator.Pages }}
        <div class="post">
            <div class="post-title"><a href="{{ .RelPermalink }}">{{ if eq .Params.state "top" }}[{{ i18n "post_state_top" }}] {{ end }}{{ if eq .Params.state "draft" }}[{{ i18n "post_state_draft" }}] {{ end }}{{ .LinkTitle }}</a></div>
            <div class="post-meta">
              <span class="post-date">{{ .Date.Format "2006-01-02 15:04:05" }}</span>
              {{ with .Params.tags }}
              <span class="post-tags">
                  {{ range . }}
                  <a href="{{ relURL (printf "tags/%s/" (. | urlize)) }}" class="tag">#{{ . }}</a>
                  {{ end }}
              </span>
              {{ end }}
            </div>
            <div class="post-summary">{{ .Summary }}</div>
        </div>
    {{ end }}

    <div class="pagination">
      {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}" class="prev" title="">{{ i18n "page.prev" }}</a>
      {{ end }}
      {{ range $paginator.Pagers }}
        {{ if eq . $paginator }}
          <a class="current">{{ .PageNumber }}</a>
        {{ else }}
          <a href="{{ .URL }}">{{ .PageNumber }}</a>
        {{ end }}
      {{ end }}
      {{ if $paginator.HasNext }}
          <a href="{{ $paginator.Next.URL }}" class="next" title="">{{ i18n "page.next" }}</a>
      {{ end }}
    </div>
{{ end }}
