{{ define "main" }}
  {{ .Content }}
  {{ $paginator := .Paginate (where site.RegularPages "Type" "post") }}
  {{ range $paginator.Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ if eq .Params.state "top" }}[{{ i18n "post_state_top" }}] {{ end }}{{ if eq .Params.state "draft" }}[{{ i18n "post_state_draft" }}] {{ end }}{{ .LinkTitle }}</a></h2>
    <div class="post-meta">
      <span class="post-date">{{ .Date.Format "2006-01-02 15:04:05" }}</span>
      {{ with .Params.tags }}
      <span class="post-tags">
        {{ range . }}
        <a href="{{ relURL (printf "tags/%s/" (. | urlize)) }}" class="tag">#{{ . }}</a>
        {{ end }}
      </span>
      {{ end }}
    </div>
    {{ .Summary }}
  {{ end }}

  <div class="pagination">
    {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}" class="prev" title="{{ i18n "page.prev" }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M15 18l-6-6 6-6"/>
        </svg>
      </a>
    {{ end }}
    {{ range $paginator.Pagers }}
      {{ if eq . $paginator }}
        <span class="current">{{ .PageNumber }}</span>
      {{ else }}
        <a href="{{ .URL }}">{{ .PageNumber }}</a>
      {{ end }}
    {{ end }}
    {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}" class="next" title="{{ i18n "page.next" }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 18l6-6-6-6"/>
        </svg>
      </a>
    {{ end }}
  </div>
{{ end }}
