.main-container {

  .article {
    margin: $header-height/2 auto;
    gap: 20px;
  }

  .article-divider {
    margin: 2rem auto;
    height: 0.0625rem;
    background: linear-gradient(to right, transparent, var(--color-border), transparent);
  }

  .article-nav {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .article-nav .item {
    flex: 1;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    min-width: 0;
    border-radius: $default-border-radius;
    border: $default-border-size solid var(--color-border);
    background-color: var(--color-btn-bg);
    transition: transform $default-transition-time ease;
  }

  .article-nav .item:hover {
    transform: translateY(-0.1875rem);
  }

  .article-nav .item:first-child {
    text-align: left;
  }

  .article-nav .item:last-child {
    text-align: right;
  }

  .item-key {
    font-size: 0.5rem;
    margin-bottom: 0.5re;
  }

  .item-value {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    border-color: transparent;
    color: var(--color-text);
    font-weight: normal;
  }

  .item-value:hover {
    text-decoration: none;
    color: var(--color-text);
  }


  .article-btn {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .article-btn .btn {
    flex: 1;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    min-width: 0;
    border-radius: $default-border-radius;
    border: $default-border-size solid var(--color-border);
    background-color: var(--color-btn-bg);
    transition: transform $default-transition-time ease;
  }

  .article-btn .btn:hover {
    transform: translateY(-0.1875rem);
  }

  .article-left,
  .article-right {
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.625rem var(--color-shadow);
    border: $default-border-size solid var(--color-border);
    background-color: var(--color-bg);
    transition: transform $default-transition-time ease;
  }

  .article-left:hover,
  .article-right:hover {
    transform: translateY(-0.1875rem);
  }

  .article-left {
    padding: 2rem;
  }

  .article-right {
    padding: 1.5rem;

    .toc-title {
      font-size: 1rem;
      font-weight: bold;
      padding-bottom: 1rem;
      margin-bottom: 0.5rem;
      border-bottom: $default-border-size solid var(--color-border);
    }


    ul {
      font-size: 0.875rem;
      padding-left: 0.5rem;
    }

    a {
      color: var(--color-text);
      text-decoration: none;
      border: none;
    }

    a:hover {
      color: var(--color-primary-hover);
      text-decoration: none;
    }

  }

  .article-one-col {
    width: 100%;

    .article-left {
      width: 848px;
      margin: 0 auto;
    }
  }

  .article-two-col {
    display: grid;
    grid-template-columns: 848px 300px;
    width: 100%;

    .article-left {
      position: relative;
      overflow: hidden;
    }

    .article-right {
      position: sticky;
      top: 90px;
      height: fit-content;
    }
  }
}

@media (max-width: $breakpoint-mobile) {

  .main-container {

    .article {
      margin: 1rem auto;
      gap: 1rem;
    }

    .article-nav {
      flex-direction: column;
    }

    .article-nav .item {
      text-align: left;
    }

    .article-btn {
      flex-direction: column;
      align-items: stretch;
    }

    .article-btn .btn {
      width: 100%;
    }

    .article-one-col {
      .article-left {
        max-width: 100%;
      }
    }

    .article-two-col {
      grid-template-columns: 1fr;
      grid-template-areas:
        "right"
        "left";

      .article-left {
        grid-area: left;
      }

      .article-right {
        grid-area: right;
        position: relative;
        top: 0;
      }
    }
  }
}
