.main-container {


  .article {
    margin: $header-height/2 auto;
    gap: 20px;
  }

  .left,
  .right {
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.625rem var(--color-shadow);
    background-color: var(--color-bg);
  }

  .left {
    padding: 2rem;
  }

  .right {
    padding: 1.5rem;

    .toc-title {
      font-size: 1rem;
      font-weight: bold;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: $default-border-size solid var(--color-border);
    }


    ul {
      font-size: 0.875rem;
      padding-left: 0.5rem;
    }

    a {
      color: var(--color-text);
      text-decoration: none;
      border: none;
    }

    a:hover {
      color: var(--color-primary-hover);
      text-decoration: none;
    }

  }

  .one-col {
    width: 100%;

    .left {
      width: 848px;
      margin: 0 auto;
    }
  }

  .two-col {
    display: grid;
    grid-template-columns: 848px 300px;
    width: 100%;

    .left {
      position: relative;
      overflow: hidden;
    }

    .right {
      position: sticky;
      top: 90px;
      height: fit-content;
    }
  }
}

@media (max-width: $breakpoint-mobile) {

  .main-container {
    .one-col {
      .left {
        max-width: 100%;
      }
    }

    .two-col {
      grid-template-columns: 1fr;
      grid-template-areas:
        "right"
        "left";

      .left {
        grid-area: left;
      }

      .right {
        grid-area: right;
        position: relative;
        top: 0;
      }
    }
  }
}
