/* 顶部进度条容器 */
#progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--progress-bg);
  z-index: 9999;
  display: none;
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: var(--progress-bar-color);
  transition: width 0.3s ease;
  box-shadow: 0 0 10px var(--progress-bar-color);
  position: relative;
}

/* 内部动态冲击条 */
#progress-bar::after {
  content: "";
  display: block;
  width: 200%;
  height: 100%;
  background: linear-gradient(
                  90deg,
                  rgba(255, 255, 255, 0) 20%,
                  var(--progress-stripe-color) 50%,
                  rgba(255, 255, 255, 0) 80%
  );
  background-size: 50% 100%;
  animation: moving-bar 1.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes moving-bar {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}