#sun-icon {
  display: block;
}

#moon-icon {
  display: none;
}

:root[starry-theme-mode="dark"] {
  #sun-icon {
    display: none;
  }

  #moon-icon {
    display: block;
  }
}

.sidebar-tools {
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tool-btn {
  width: 50px;
  height: 50px;
  background-color: var(--color-bg);
  color: var(--text-color);
  border: 1px solid var(--color-border);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px var(--color-shadow);
}

.tool-btn:hover {
  background-color: var(--color-primary-hover);
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 4px 12px var(--color-shadow);
}